.homepage {
    background-position: right top;
    height: calc(100vh - 56px);
    background: #2f2f2f;
    background-size: auto 100%;
    background-image: url("http://mollie.staging.kiener.nl/themes/Frontend/Kiener/frontend/_public/src/img/t-shirt-black-home.png"),
        linear-gradient(to bottom, #2f2f2f 0%, #1e1e1e 100%);
    background-repeat: no-repeat;
    display: flex;
}
