.homepage {
    background-position: right top;
    height: calc(100vh - 56px);
    background-size: auto 100%;
    background-image: url("http://mollie.staging.kiener.nl/themes/Frontend/Kiener/frontend/_public/src/img/t-shirt-black-home.png"),
        linear-gradient(to bottom, #2f2f2f 0%, #1e1e1e 100%);
    background-repeat: no-repeat;
    display: flex;
}

@media (max-width: 768px) {
    .homepage {
        background-image: linear-gradient(to bottom, #2f2f2f 0%, #1e1e1e 100%);
    }
}

.inline-content {
    max-width: 32.5rem;
    display: block;
}
@media (max-width: 992px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}
